
.option-container{
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    
}
.option-container:hover{
    background-color: rgb(110, 91, 153);
    
}
.option-container:hover p{
    color: white;
}

.option-container p{
    margin: 0px;
    color: grey;
}

.customCircle{
    padding: 7px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    
}
