
.subject{
    border-radius: 7px;
    box-shadow: 5px 5px 5px #ddd;
    
}
.image{
    margin: 7px;
    background-color: rgba(91, 60, 158, 0.692);
    border-radius: 7px;
}
.subject img{
    width: 100%;
}
.practiceBtn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 6px;
}
.practiceBtn p{
    font-size: 18px;
    font-weight: 700;
    color: rgb(70, 29, 165);
    letter-spacing: 2px;
}
.practiceBtn button{
    border: none;
    background-color: rgb(29, 122, 165);
    border-radius: 4px;
    padding: 0 10px;
    height: 33px;
    color: #eee;
    font-weight: 600;
    display: flex;
    gap: 7px;
    align-items: center;
}