.brandName{
    color: rgb(70, 29, 165);  
}
.navItem{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
    color: rgb(29, 122, 165);
    font-weight: 600;
    padding: 3px 15px;
}
.activeNav{
    background-color: #ddd;
    border-radius: 3px;
    box-shadow: 5px 5px 8px rgb(158, 158, 158);
    
}

@media only screen and (max-width:575px){
    .activeNav{
        box-shadow: none;
        border-radius: 0;
    }
    .navItem{
        margin: 15px 0;
    }
}