
.bannerImage{
    background-image:linear-gradient(to right, rgba(255,0,0,0), rgba(165, 29, 165, 0.562)), url('../../../public/banner.png');
    height: 250px;
    border-radius: 15px;
    margin: 40px 0;

}
.bannerText{
    color: #ddd;
    padding: 30px;
    
}
.bannerText h1{
    font-size: 50px;
    line-height: 50px;
}
.quotes{
    font-size: 18px;
}
.backQuote{
    font-size: 25px;
    color: yellow; 
}
.spirit{
    letter-spacing: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 25px;
}


@media only screen and (max-width:575px){
    .bannerText h1{
        font-size: 35px;
        text-align: center;
        line-height: 40px;
    }
    .spirit{
        font-size: 18px;
        letter-spacing: 7px;
        text-align: center;
        font-weight: normal;
    }
    .bannerImage{
        height: auto;
    }
    .quotes{
        text-align: center;
        line-height: 18px;
    }
}